html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #8595ae;
}

footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

html {
  box-sizing: border-box;
}

body {
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

img {
  height: 120px;
  max-width: 100%;
  vertical-align: middle;
}
.site-header img{
  height: 60px;
}

img,
svg {
  display: block;
}

html {
  font-size: 20px;
  line-height: 30px;
}

.container .nes-container {
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  clear: both;
  color: #2e1e26;
  font-weight: 600;
}
h1,
.h1 {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -0.1px;
}

h2,
.h2 {
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.1px;
}

h3,
.h3,
blockquote {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.1px;
}

.text-sm {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.1px;
}

h1,
h2,
.h1,
.h2 {
  margin-top: 48px;
  margin-bottom: 16px;
}
h3,
.h3 {
  margin-top: 36px;
  margin-bottom: 12px;
}

p {
  margin-top: 0;
  margin-bottom: 24px;
}

.container,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1128px;
}
.container-sm {
  max-width: 848px;
}
.container .container-sm {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.has-top-divider {
  position: relative;
}

.has-bottom-divider {
  position: relative;
}

.site-header {
  position: relative;
  padding: 12px 0;
  z-index: 2;
}
.site-header-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  flex: auto;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 88px;
  background-image: url("./../../images/HeroBanner.png");
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}

footer img {
  height: 60px;
}

.hero-copy {
  position: relative;
}
.hero-paragraph {
  margin-bottom: 32px;
}
.hero-cta {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.lights-toggle {
  color: rgba(107, 122, 144, 0.64);
}

@media (min-width: 641px) {
  .hero {
    text-align: left;
    padding-top: 88px;
    padding-bottom: 120px;
  }
  .hero-inner {
    display: flex;
    justify-content: space-between;
  }
  .hero-copy {
    padding-top: 40px;
    padding-right: 48px;
    min-width: 448px;
    max-width: 512px;
    z-index: 1;
  }
  .hero-title {
    margin-bottom: 16px;
  }
  .hero-paragraph {
    margin-bottom: 32px;
  }
  .hero-cta {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .hero-cta .button {
    min-width: 170px;
  }
  .hero-cta .button:first-child {
    margin-right: 32px;
  }
  .header-illustration {
    display: block;
  }
  .hero-media {
    z-index: 0;
  }
  .hero-media img,
  .hero-media svg {
    max-width: none;
  }
  .header-illustration-image {
    display: block;
    position: absolute;
    top: -168px;
    left: -722px;
    width: 1440px;
    height: 324px;
  }
}
.features-wrap {
  max-width: 540px;
  margin: 0 auto;
}

.feature {
  text-align: center;
  margin-bottom: 48px;
}
.feature:last-of-type {
  margin-bottom: 0;
}
.feature-icon {
  display: inline-flex;
  margin-bottom: 16px;
}
.feature-icon img,
.feature-icon svg {
  max-width: none;
}
.feature-title {
  position: relative;
  margin-bottom: 26px;
}
.feature-title::after {
  content: '';
  width: 32px;
  height: 2px;
  position: absolute;
  bottom: -14px;
  left: calc(50% - 16px);
  background: #e9edf3;
}
 .feature-title::after {
  background: #3f2a34;
}
@media (min-width: 641px) {
  .features {
    position: relative;
  }
  .features .section-inner {
    padding-bottom: 100px;
  }
  .features .section-paragraph {
    padding-left: 72px;
    padding-right: 72px;
  }
  .features::before {
    content: '';
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 168px;
    background: linear-gradient(
      to bottom,
      #3f2a34,
      #3f2a34
    );
  }
   .features::before {
    display: none;
  }
  .feature {
    text-align: left;
  }
  .feature-inner {
    display: flex;
  }
  .feature-icon {
    display: block;
    margin-top: 8px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  .feature-title::after {
    left: 0;
  }
}
.cta {
  position: relative;
}
.cta .section-inner {
  padding-bottom: 64px;
}
.cta .section-paragraph {
  margin-bottom: 32px;
}
.cta::before {
  content: '';
  position: absolute;
  bottom: -32px;
  left: calc(50% - 720px);
  height: 263px;
  width: 1440px;
}
.cta-cta {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 639px) {
  .cta-cta .button {
    display: flex;
  }
}
@media (min-width: 641px) {
  .cta .section-inner {
    padding-bottom: 128px;
  }
  .cta .section-paragraph {
    margin-bottom: 40px;
    padding-left: 72px;
    padding-right: 72px;
  }
  .cta::before {
    bottom: 0;
  }
}
.is-boxed {
  background: #e9edf3;
}
.body-wrap {
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.boxed-container {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0 16px 48px rgba(255, 255, 255, 0.5);
}
main {
  flex: 1 0 auto;
}
.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.site-footer {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  background: #2e1e26;
  color: #6b7a90;
}

.site-footer-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 500px;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 750px;
}
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 350px;
  background-color: #2e1e26;
  padding: 20px;
}
.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 150px;
  background-color: #2e1e26;
  padding: 20px;
}
.footer-copyright {
  flex: none;
  width: 80%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.register {
  height: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3f2a34;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e1e26;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 4px #433e4c;
}

.nes-field {
  max-width: 400px;
}
.login {
  height: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3f2a34;
}
.profile {
  height: 1200px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #3f2a34;
  border-radius: 5px;
  box-shadow: #3f2a34;
}
.container .login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.asset-dark {
  visibility: hidden;
  opacity: 0;
}
.is-loaded .asset-dark {
  visibility: visible;
  opacity: 1;
}
.asset-dark {
  display: none;
}

 .asset-dark {
  display: block;
}
 a {
  color: #8595ae;
}
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6 {
  color: #fff !important;
}
.is-boxed {
  background: #3f2a34;
}
 .body-wrap {
  background: #2e1e26;
}
 .boxed-container {
  box-shadow: 0 16px 48px #3f2a34;
}

 .has-top-divider {
  position: relative;
}
 .has-top-divider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: #3f2a34;
}
 .has-bottom-divider {
  position: relative;
}
 .has-bottom-divider::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: #3f2a34;
}
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  transition: color 0.25s ease;
}

.boxed-container {
  transition: box-shadow 0.15s ease;
}
